<tr>
	<td>
		<img src="s.gif" height="10" width="0">
		<table width="100%" cellspacing="0" cellpadding="1">
			<tr>
			<td bgcolor="#ff6600"></td>
			</tr>
		</table>
		<br>
		<center><span class="yclinks"><a href="newsguidelines.html">Guidelines</a>
			| <a href="newsfaq.html">FAQ</a>
			| <a href="mailto:hn@ycombinator.com">Support</a>
			| <a href="https://github.com/HackerNews/API">API</a>
			| <a href="security.html">Security</a>
			| <a href="lists">Lists</a>
			| <a href="bookmarklet.html" rel="nofollow">Bookmarklet</a>
			| <a href="http://www.ycombinator.com/legal/">Legal</a>
			| <a href="http://www.ycombinator.com/apply/">Apply to YC</a>
			| <a href="mailto:hn@ycombinator.com">Contact</a></span><br><br><form method="get" action="//hn.algolia.com/">Search:
				<input type="text" name="q" value="" size="17" autocorrect="off" spellcheck="false" autocapitalize="off" autocomplete="false"></form>
				</center>
	</td>
</tr>