{% extends "layout.html.twig" %}

{% block title %}News {% endblock %}

{% block content %}

<center>
	<table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
	<tr>
		<td bgcolor="#ff6600">
			<table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:2px">
				<tr>
				<td style="width:18px;padding-right:4px">
					<a href="https://news.ycombinator.com"><img src="/images/y18.gif" width="18" height="18" style="border:1px white solid;"></a></td>
				<td style="line-height:12pt; height:10px;">
					<span class="pagetop">
						<b class="hnname"><a href="news">Hacker News</a></b>
						<a href="newest">new</a> | 
						<a href="front">past</a> | 
						<a href="newcomments">comments</a> | 
						<a href="show">show</a> | 
					</span>
				</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr id="pagespace" title="" style="height:10px"></tr>
	<tr>
		<td>
			<table border="0" cellpadding="0" cellspacing="0" class="itemlist">
				<tbody id="t_stories">
					<tr><td>No News found..</td></tr>
				</tbody>				
			</table>
		</td>
</tr>
	{% include ('footer.html.twig') %}
	</table>
</center>

{% endblock %}