<!DOCTYPE html>
<html>
    <head>
        <title>{% block title '' %} | Hacker News</title>

        <link href="{{ asset('css/main.css') }}" rel="stylesheet" type="text/css" />
		
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script src="https://momentjs.com/downloads/moment.js"></script>
		
		<script type="text/javascript" src="/js/common.js"></script>
		<script type="text/javascript" src="/js/news.js"></script>
		<script type="text/javascript" src="/js/run.js"></script>

    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>
